<section id="creer-{{type}}">
  <form id="form-creer-{{type}}" novalidate>
    <h4  for="nom-echange">{{paragraphe}} </h4>
    <div id="input-form">
    {{!-- <div id="input-form" class="{{#unless creerEchange}}hidden-class {{/unless}}"> --}}
        <input type="text" id="nom-echange" placeholder="Nom Echange" name="nom-echange" {{#unless creerEchange}}hidden{{/unless}} />
        <button type="submit" id="creer{{type}}Btn">{{btnType}}</button>
    </div>
    <p class="erreur-nom-echange"></p>
    <h3>Ajouter des Livres</h3>
    <div class="contenaire-recherche">
      <input type="text" id="recherche" placeholder="Recherche" name="Recherche" />
      <button type="button" id="rechercheBtn">Recherche</button>
    </div>
    <p id="erreur-recherche" style="display: none;"></p>
    <p class="erreur-quantite"></p>
    <div id="livres-selection">
      {{!-- <div id="contenu-echange"></div> --}}
      {{#each dblivres}}
        <div class="livre-item">
          <div class="livre-image">
            <img
              {{#if this.image}}
              src="{{this.image}}"
              {{else}}
              src="assets\imgs\pas_image.png"
              {{/if}}
              alt="{{this.nom_livre}}"
            />
            <div class="langue"><span>{{this.language}}</span></div>
          </div>
          <div class="description-item">
            <h1>{{this.nom_livre}}</h1>
            <h2>{{this.authors}}</h2>
            <input
            type="number"
            min="0"
            max="200"
            required
            placeholder="Quantite"
            data-id="{{this.id_livre}}"
            value="0"
          />
          </div>
        </div>
      {{/each}}

    </div>

  </form>
</section>