<!-- pour la page des echanges -->
<section id="echanges">
  <h2>Livres Disponibles à l'Échange</h2>
  <div id="echanges-list">
    <ul class="btn-details-link">
      {{#each dbEchanges}}
        <li class="echnage-item">
          <a
          href="/echange?id_echange={{this.id_echange}}"
          class="details-link"
          > 
            <div>
              <p id="nom-echange">{{this.nom_echange}}</p>
              <div class="contenaire-img">
                {{#each lien_image}}
                <img
                    {{#if this}}
                    src="{{this}}"
                    {{else}}
                    src="assets\imgs\pas_image.png"
                    {{/if}}
                    alt="image de livre"
                    class="livre-image"
                  />
                {{/each}}
              </div>
              <h4 id="non-utilisateur">Proposer Par : {{this.nom_utilisateur}}
                {{this.prenom_utilisateur}}</h4>
              
              {{!-- <div class="btn-details-link">
                <a
                  href="/echange?id_echange={{this.id_echange}}"
                  class="details-link"
                > details </a>
              </div> --}}
            </div>
          </a>
        </li>
      {{/each}}
    </ul>

  </div>
</section>