<section id="details-echange">
  <div id="echange-details">
    <div id="{{type}}">
      <h2>Nom de l'echange : <span>{{dbInfo.nom_echange}}</span></h2>
      <h2 class="{{#if echange}}hidden-class{{/if}}">Proposé Par : {{dbInfo.nom_utilisateur_proposition}} {{dbInfo.prenom_utilisateur_proposition}}</h2>
    </div>
    <div id="livre-items">
      {{#each dbEchangeProposition}}
        <div class="livre-item">
          <div class="livre-image">
            <img
              {{#if this.image}}
              src="{{this.image}}"
              {{else}}
              src="assets\imgs\pas_image.png"
              {{/if}}
              alt="{{this.nom_livre}}"
            />
            <div class="langue"><span>{{this.language}}</span></div>
          </div>
          <div class="description-item">
            <h1>{{this.nom_livre}}</h1>
            <h2>{{this.authors}}</h2>
            <h3>Quantite :  {{this.quantite}}</h3>
          </div>
        </div>
      {{/each}}

    </div>

    {{#if ISeligiblebtn}}
      <div id="btn-creer-proposition" {{#unless echange}}hidden{{/unless}}>
          <button data-id-echange="{{id_echange}}" id="btnCreerProposition">Créer une Proposition</button>
      </div>
    {{/if}}
  </div>

  {{#if ISeligibleliste}}
    <div id="liste-proposition">
      {{#each dbProposition}}
        <div class="proposition-item" data-index="{{this.id_proposition}}">
          <h4 class="nom-proposition">proposition : {{id_echange}} | {{this.id_proposition}}</h4>
          <h4>Creer Par : {{this.nom_utilisateur_proposition}}  {{this.prenom_utilisateur_proposition}}</h4>
          <div class="btn-details-link">
            <a
              href="/proposition?id_proposition={{this.id_proposition}}"
              class="Details-link"
            >détails</a>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}

</section>