<section>
  <div id="nom_utilisateur">
    <h2 class="echange-compte">Les échanges de ce compte </h2>
    <h2 id="compte-utilisateur">{{utilisateur.nom}} {{utilisateur.prenom}}</h2>
  </div>
  <ul class="btn-details-link">
    {{#each dbUtilisateur}}
      <li class="echange-item" data-index = "{{this.id_echange}}">
        <a href="/echange?id_echange={{this.id_echange}}" class="details-link">
          {{this.nom_echange}}
        </a>
        <button
          type="button"
          class="bouton-supprimer"
          data-id-echange="{{this.id_echange}}"
        >
          <i class="bi bi-trash-fill"></i>
        </button>
      </li>
    {{/each}}
  </ul>
</section>